@use "../../scss/index.scss" as *;
.wrapper {
  height: 100vh;
  background-color: #9439ef;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.title {
  text-align: center;
  color: white;

  svg {
    vertical-align: middle;
    fill: $second;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 95%;
  max-width: 600px;
}
.label {
  color: white;
}
.form__input {
  border: none;
  height: 3rem;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(177, 112, 112, 0.18);
  font-size: 1.2rem;
  padding: 5px;

  &:focus {
    border: 2px solid $ter;
    outline: none;
  }
}

.btn {
  padding: 14px;
  background: $grad;
  border: 2px solid $second;
  color: white;
  box-shadow: 0px 10px 21px 0px rgba(255, 255, 255, 0.75);

  &:active {
    border: 2px solid black;
    box-shadow: 0px 10px 21px 0px rgba(255, 255, 255, 0.3);
  }
}

.signup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.signUpForm {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  @include minQ(650px) {
    flex-direction: row;
  }
}

.button__input {
  padding: 10px;
  background-color: white;
  border: none;

  svg {
    vertical-align: text-bottom;
  }

  &:active {
    border: solid 1px $second;
    box-shadow: 0px 10px 21px 0px rgba(255, 255, 255, 0.3);
  }
}
